@import 'normalize';
@import 'variables';
@import 'fonts';
@import 'typography';

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    background: $color-white-2;
}

.main {
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}