// media queries

// 0 - 767px xs
$screen-xs-max: 767px;

// 768px - 991px sm
$screen-sm-max: 991px;

// 992px - 1199px md
$screen-md-max: 1199px;

// 1200px - ~ lg
$screen-lg-min: 1200px;

// Phones
@mixin xs {
    @media (max-width: #{$screen-xs-max}) {
        @content;
    }
}

// Tablets
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}

// Large Tablets
@mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
}

// Desktops
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// how to use?
// p {
//     @include sm {
//         font-size: 15px;
//     }
// }