// experience
.experience {
    display: grid;
    grid-template-columns: 4.5fr 8fr;

    @include xs {
        grid-template-columns: 12fr;
    }

    .content {
        margin-top: 13vw;

        @include md {
            margin-top: 3vw;
        }

        @include xs {
            order: 1;
        }
    }

    .list {}

    .item {
        margin-bottom: 3vw;

        @include xs {
            margin-bottom: 8vw;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .title {
        font-family: 'AvantGarde', sans-serif;
        font-weight: bold;
        font-size: 1.2vw;

        @include xs {
            font-size: 4.8vw;
        }
    }

    .duration {
        font-style: italic;
        margin-bottom: 1.5vh;
    }

    .text {}

}

// exblock
.exblock {
    margin-left: 15vw;

    @include xs {
        margin-left: 0;
        margin-bottom: 2em;
    }

    .text-line {
        font-family: 'AvantGarde', sans-serif;
        font-weight: bold;
        font-size: 15vw;
        line-height: 1;
        letter-spacing: -2.3vw;

        @include xs {
            font-size: 29vw;
            line-height: 0.9;
            letter-spacing: -3vw;
        }
    }

    .letter {
        display: inline;

        &.stroke {
            -webkit-text-fill-color: $color-white-2;
            -webkit-text-stroke-color: $color-black;
            -webkit-text-stroke-width: 0.1vw;

            @include xs {
                -webkit-text-stroke-width: 0.3vw;
            }
        }
    }
}