// project
.project {
    display: grid;
    grid-template-columns: 6fr 6fr;

    @include xs {
        grid-template-columns: 12fr;
    }

    .screen-mockup {
        width: 42.6vw;
        margin-left: calc(100% - 42.6vw);

        @include xs {
            width: 100%;
            margin-left: 0;
        }
    }

    .img-container {

        img {
            border: 1px solid rgba(0, 0, 0, 0.5);
            width: 100%;
        }
    }

    .content {
        text-align: left;
        width: 80%;
        margin-top: 7vw;

        @include md {
            width: 90%;
            margin-top: 3vw;
        }

        @include xs {
            order: 1;
            text-align: center;
            margin: auto;
        }
    }

    .title {
        font-family: 'AvantGarde', sans-serif;
        font-weight: bold;
    }

    .employer {
        font-style: italic;
        margin-bottom: 1em;
    }

    .text {
        margin-bottom: 1.5em;
    }

    .link {
        font-family: 'AvantGarde', sans-serif;
        font-weight: bold;
    }
}

// screen-mockup
.screen-mockup {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include xs {
        margin-bottom: 2em;
    }

    .part-1,
    .part-2,
    .part-3,
    .part-4 {
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .part-1,
    .part-2,
    .part-3 {
        margin-bottom: 0.25vw;

        @include xs {
            margin-bottom: 1vw;
        }
    }

    .part-1 {
        width: 100%;
        padding: 3%;
    }

    .part-2 {
        width: 100%;
        height: 3.5vw;
    }

    .part-3 {
        width: 12.5vw;
        height: 4vw;

        @include xs {
            width: 27vw;
            height: 9vw;
        }
    }

    .part-4 {
        width: 22vw;
        height: 1vw;

        @include xs {
            width: 44vw;
            height: 3vw;
        }
    }
}