// projects
.projects {
    position: relative;
    z-index: 0;

    .header {
        font-family: 'AvantGarde', sans-serif;
        font-weight: bold;
        font-size: 19.3vw;
        color: $color-white;
        user-select: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .list {
        font-family: 'AvantGarde', sans-serif;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 16vw;

        @include md {
            margin-top: 11vh;
        }

        @include xs {
            justify-content: center;
            margin-top: 15vw;
        }
    }

    .item {
        width: 22%;
        margin-bottom: 5vh;

        @include md {
            width: 44%;
        }

        @include xs {
            width: 100%;
            margin-bottom: 5em;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    img {
        filter: grayscale(100%);
        transition: all 400ms ease;
    }

    .title {
        color: $color-black;
        margin-bottom: 1vh;

        @include xs {
            font-size: 6vw;
        }
    }

    .link {
        display: inline-block;

        &:hover,
        &:focus,
        &:active {
            opacity: 1;

            .title {
                color: $color-blue;
            }

            img {
                filter: grayscale(0);
            }
        }
    }
}