// page
.page {
    @extend %clearfix;
    position: relative;
    margin-bottom: 17vw;

    @include md {
        margin-bottom: 15vw;
    }

    @include xs {
        margin-bottom: 8em;
    }
}


.page.home-page {
    height: 100%;
    overflow: hidden;
}

.page.projects-page {}

.page.project-page {}

.page.experience-page {}

.page.skills-page {}

.page.about-page {}

.page.contact-page {
    height: 100%;
    margin-bottom: 0;
}