// page
.page {
    @extend %clearfix;
    position: relative;


}


.page.home-page {
    height: 100%;
    overflow: hidden;
}

.page.projects-page {}

.page.project-page {
    padding: 10vw 0;

    @include md {
        padding: 8vw 0;
    }

    @include xs {
        padding: 5vw 0;
    }
}

.page.experience-page {
    padding: 5vw 0;
}

.page.skills-page {
    padding: 5vw 0;
}

.page.about-page {
    padding: 8vw 0;
}

.page.contact-page {
    height: 100%;
    margin-bottom: 0;
}